page-forum-post-details {
    .name-avatar{
        background: map-get($colors, base);
        color: #fff;
        text-transform: capitalize;
        $dim: 50px;
        font-size: 18px;
        height: $dim;
        width: $dim;
        display: block;
        text-align: center;
        line-height: $dim;
        border-radius: 50%;
    }

    .list-comment ion-item{
        min-height: 25px !important;
        height: 25px;
    }

    ion-item span {
        font-weight: bold;
    }
}
