page-new-forum-post-modal {
  ion-textarea,
  ion-input {
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  ion-textarea textarea {
    min-height: 100px;
  }

  .text-input {
    padding: 0 15px;
  }

  ion-label {
    font-size: 18px !important;
    color: map-get($colors, base);
  }
}
