page-register {
  .fixed-content {
    background-image: url(https://cdn.pixabay.com/photo/2016/03/09/09/14/books-1245690_960_720.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
  }
  .scroll-content {
    padding-top: 150px !important;
    background-color: #000;
    opacity: 0.8;
  }

  .item-input {
    border-radius: 30px;
    margin-top: 10px;
  }

  h3,
  h5 {
    color: #fff;
    text-align: center;
    margin: 0;
  }

  h3 {
    font-size: 3rem;
  }

  h5 {
    margin-bottom: 30px;
  }

  p {
      color: #fff;
  }
  
  ion-label[fixed] {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
  }
}
