<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item>
      <ion-label>Select Student</ion-label>
      <ion-select interface="popover" [(ngModel)]="selectedStudent">
          <ion-option *ngFor="let student of students" [value]="student">
            {{student.firstName}}
          </ion-option>
      </ion-select>
  </ion-item>

  <!-- info card for selected student -->

  <ion-card *ngIf="selectedStudent">
    <ion-card-header>{{selectedStudent.firstName + ' '+ selectedStudent.lastName}}</ion-card-header>

    <ion-card-content>
      <p>Age: {{selectedStudent.age}}!</p>
      <p>Thank you!</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!selectedStudent" >
    <ion-card-header>
      No Student Selected!
    </ion-card-header>
  </ion-card>

</ion-content>
